.routes {
  z-index: 2;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  height: 10vmin;
  pointer-events: none;
}

.walletIcon {
  height: 3vmin;
  pointer-events: none;
}

@media screen and (max-width: 450px) {
  .logo {
    height: 5vmin;
    pointer-events: none;
  }

  .walletIcon {
    height: 5vmin;
    pointer-events: none;
  }

  .headerDiv {
    padding-top: 3vmin;
  }
}

.wallets-wrapper {
  display: flex;
}

.wallet-label {
  display: flex !important;
  align-items: center;
}

.wallet-label span {
  font-size: 20px;
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: normal;
  color: #272727;
  overflow: hidden;
  text-align: center;
}



.ant-dropdown-menu-item .ant-dropdown-menu-submenu-title {
  /* margin-top: 10; */
  /* margin-right: 0; */
  border-radius: 20 !important;
  /* background: rgba(255, 255, 255, 0.09); */
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(6px); */
  /* -webkit-backdrop-filter: blur(6px); */
  /* border: 1px solid rgba(255, 255, 255, 0.64); */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}